/*For Development. Remove for production 
#articles, aside.sidebar {
background-color: #eee;
}
article { background-color: #ddd; }
*/
/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { border:1px solid #ff9; color: #00a5f7; text-decoration: none; }
mark { background-color: #00a5f7; color: #fff; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { 
	margin: 0; 
	list-style:none; 
	list-style-image: none; 
	
}
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #00a5f7; color:#fff; text-shadow: none; }
::selection { background:#00a5f7; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #00a5f7; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:visited { color: #aa3e65; color: hsla(200, 100%, 38.4314%, 1); }
a:hover { color: #aa3e65; color: hsla(200, 100%, 38.4314%, 1);}
a:active { color: #aa3e65; color: hsla(200, 100%, 38.4314%, 1); }


/**
 * Primary styles
 *
 * Author: Cory Brown
 */
 
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 15, 2011 06:32:30 PM America/New_York */



@font-face {
    font-family: 'Destroy';
    src: url('fonts/DESTROY_-webfont.eot');
    src: url('fonts/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DESTROY_-webfont.woff') format('woff'),
         url('fonts/DESTROY_-webfont.ttf') format('truetype'),
         url('fonts/DESTROY_-webfont.svg#DestroyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialElite';
    src: url('fonts/SpecialElite-webfont.eot');
    src: url('fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SpecialElite-webfont.woff') format('woff'),
         url('fonts/SpecialElite-webfont.ttf') format('truetype'),
         url('fonts/SpecialElite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChunkFive';
    src: url('Chunkfive-webfont.eot');
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('Chunkfive-webfont.woff') format('woff'),
         url('Chunkfive-webfont.ttf') format('truetype'),
         url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html { position: relative; }
body {
	font-size: 62.5%;
	font-family: Helvetica, Arial, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	
	background:
  -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
  -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
  -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
  -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
  -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
  -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  
  background:
  -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
  -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
  -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
  -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
  -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
  -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  
  background:
  linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
background-size: 20px 20px;
}
header{}
footer{ clear: both; margin-top: 10px; border-top: 1px solid #444; padding-top: 10px; }
	footer p { text-align: right; clear:both; }
	footer .sponsors figure {
		float:left;
		margin: 20px 20px 0 0;
		padding: 10px;
		display: block;
		height: 107px;
		width: 107px;
		text-align: center;
		background-color: #111;
		background-color: hsla(0, 0%, 0%, .4);
		border-radius: 10px;
		position: relative;
	}
	footer .sponsors figure img {
		display: block;
		margin: 0 auto;
		max-width: 107px;
		max-height: 107px;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
	footer .primary.sponsors figure {
		display: table-cell;
		vertical-align: middle;
		width: 160px;
		height: 160px;
	}
	footer .primary.sponsors figure img {
		position: relative;
		bottom: auto;
		right: auto;
		display: inline;
		max-width: 160px;
		max-height: 160px;
	}
	
	.primary { clear: both; }

p { margin-bottom: 1em;}
p:last-child { margin-bottom: 0;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.aligncenter { float: none; margin-left: auto; margin-right: auto; }
.alignleft { float: left;  }
.alignleft { float: right; }


section#articles {
	max-width: 593px;
	margin: 0 auto;
	overflow: hidden;
}

article,
.comment {
	padding: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
	border-radius: 1em;
	background-color: hsla(0, 100%, 100%, .6);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 1.5em, rgba(255,255,255,.05) 1.5em, rgba(255,255,255,.05) 3em);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.05) 35px, rgba(255,255,255,.05) 70px); //last becuase moz opacity os iff

}
article:last-of-type {
	border-bottom:none;
}
article img {
	max-width: 96%;
	box-shadow: 0px 5px 15px #ccc;
	border: 1px solid #999;
	padding:.5em;
	border-radius: .5em;
}

h3 { font-size: 2em; }
p { font-size: 1.6em; line-height: 1.4; }

.gallery {
	padding: 0;
	margin:0;
	text-align: center;
	height: 300px;
}
.gallery li {
	list-style: none;
	margin:0; 
	padding: 0;
	display: none;
	background: hsla(0, 0%, 0%, .8);
}
.gallery li:first-child {
	display: block;
}
.gallery figure {
	clear: both;
	position: relative;
	height: 300px;
	overflow: hidden;
}
.gallery img {
	width: 100%;
	max-width: 960px;
	min-height: 300px;
	margin:0 auto;
}
.gallery figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33%;
	background: #333;
	background: hsla(0, 0%, 0%, .7);
	color:#999;
	font-size: 1.4em; 
	text-align: left;
	padding: 1em;
}
.gallery figcaption p {
	margin: 1em;
	line-height: 1.6;
}
.gallery figcaption p:last-child { 
	margin-bottom: 0;
}
/*
* Meta
*/
.entry-meta,
.entry-meta a,
.entry-date,
.entry-date a {
	color:#666;
	margin: 0 0 1em;
	text-align: right;
}


nav ul {
	overflow: hidden;
	margin: 1em auto;
	max-width: 960px;
	background-color: hsla(200, 30%, 20%, .8);
	/*
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 1.5em, rgba(255,255,255,.1) 1.5em, rgba(255,255,255,.1) 3em);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);*/ 	
	/*last because moz opacity is off*/
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
nav li {
	border-left: 1px solid #5CC9FF;
	border-right: 1px solid #001B29;
}
	nav li:first-child {
		border-top-left-radius: 10px;
		border-left: none;
	}
	nav li:last-child {
		border-right: none;
	}
nav li>a {
	padding: 1em;
	margin: .2em 0;
	display: block;
	text-decoration: none;
	font-size: 1.4em;
	text-shadow: 2px 2px 4px #001B29;
	color: #5CC9FF;
}
	nav li>a:hover,
	nav li>a:active {
		text-shadow: 2px 2px 0px #001B29;
		color: #5CC9FF;
	}

h1 {
	font-family: "ChunkFive", sans-serif;
	font-size: 2.5em;
	text-align: right;
/* 	float:right; */
	overflow: hidden;
	color: #00a5f7;
	text-transform: lowercase;
}
h1 a {
	color: #002436;
	text-decoration: none;
}

	header > h1 {
		font-size: 3.5em;
		margin-top: -1em;
		position: relative;
	}

h1 span { 
	display: inline-block;
	background-color: #00a5f7;
	color: #fff;
	text-align: center;
	letter-spacing: .2em;
	-webkit-transition: 1s;
	-moz-transition: .2s;
	transition: .2s;
}
aside>ul {margin:0; padding: 0;}
aside>ul>li {
	list-style: none;
	padding:0;
	margin:0;
}

aside h3 + ul>li {
 font-size: 1.4em;
 line-height: 1.6;
}

.widget {
	margin: 1em 0;
}

.widgettitle {
	font-size: 1.4em;
	padding: .5em .5em .5em 2em;
	margin: 2em 0 1em;
	font-family: "SpecialElite", sans-serif;
	background-color: #00a5f7;
	color: #fff;
	text-transform: lowercase;
	border-top-left-radius: 50em;
	/* border-bottom-left-radius: 50em; */
}

#comments-list h3 {
	font-family: "SpecialElite", serif;
	text-align: center;
}
#comments-list ol { 
	margin-left: 0;
	counter-reset:li; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
}
#comments {
	border-top: 2px solid #00a5f7;
	border-top: 2px solid hsla(200, 100%, 68.4314%, 1);
/*
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
*/
	padding-top: 2em;
}
li.comment {
	font-family: SpecialElite, serif;
	position:relative; /* Create a positioning context */
  margin:1em 0 1em 6em; /* Give each list item a left margin to make room for the numbers */
  list-style:none; /* Disable the normal item numbering */
}
li.comment:before {
	content:counter(li); /* Use the counter as content */
		counter-increment:li; /* Increment the counter by 1 */
		/* Position and style the number */
		position:absolute;		
		bottom:0;		
		left:-4em;		
		-moz-box-sizing:border-box;		
		-webkit-box-sizing:border-box;		
		box-sizing:border-box;		
		width:2em;		
		/* Some space between the number and the content in browsers that support		   
		generated content but not positioning it */
		margin-right:8px;		
		padding:4px;
		font-family: ChunkFive, sans-serif;
		font-size: 2em;
		text-align: right;
}
li.comment ol,	
li.comment ul {margin-top:6px;}	
ol#comments ol li:last-child {margin-bottom:0;}

li.comment .comment-author img.avatar {
	position: absolute;
	left: -6em;
	top: 0;	
}

.comment-meta { margin-bottom: 1em; }
/*
* Forms
*/
form {
	padding-bottom: 2em;
}

.form-label {
	font-size: 1.4em;
	margin: 1em 0 0 1em;
}
.form-label label { color:hsl(200, 100%, 68.4314%); }
input {
	border-radius: .5em;
}

input, textarea {
	background-color: hsla(0, 100%, 100%, .2);
	font: normal normal 2em/1.4 SpecialElite, serif;
	border-radius: .5em;
	width: 94%;
	padding:2%;
	outline: none;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all; 
	color: #ccc;
}
input:focus, textarea:focus {
	background-color: hsla(0, 100%, 100%, .5);
	color:hsl(0, 0%, 27%);
}

textarea {
	margin: 0 0 1em 0;
	font: normal normal 2em/1.4 SpecialElite, serif;	
}

input.button,
input[type="submit"] {
	position: relative;
	color:#eee;
	padding: .25em 0 0 0;
	font-size: 3em;
	line-height: 1;
	border-radius: .25em;
	background: hsl(200, 100%, 48.4314%);
	background-image: -webkit-linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 58%));
	background-image: -moz-linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 58%));
	background-image: linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 58%));
	box-shadow: 0 -1px 1px hsl(200, 100%, 88.4314%),
							1px 1px 1px hsl(200, 100%, 28.4314%),
							2px 2px 1px hsl(200, 100%, 28.4314%),
							3px 3px 1px hsl(200, 100%, 28.4314%),
							4px 4px 1px hsl(200, 100%, 28.4314%),
							5px 5px 1px hsl(200, 100%, 28.4314%);
	border: none;
	width: 98%;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	transition: all 0s;
}
input.button:active,
input[type="submit"]:active {
	color:hsl(200, 100%, 88.4314%);
	background: hsl(200, 100%, 48.4314%);
	background-image: -webkit-linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 28%));
	background-image: -moz-linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 28%));
	background-image: linear-gradient(hsl(200, 100%, 48%), hsl(200, 100%, 28%));
	box-shadow: 1px 1px 1px hsl(200, 100%, 18.4314%),
							2px 2px 1px hsl(200, 100%, 18.4314%)/*,
							3px 3px 1px hsl(200, 100%, 28.4314%),
							4px 4px 1px hsl(200, 100%, 28.4314%),
							5px 5px 1px hsl(200, 100%, 28.4314%)*/;
/* 	background: hsl(200, 100%, 48.4314%); */
	left: 3px;
	bottom: -3px
}

#post-0 p {
	color: #00a5f7;
	font-family: SpecialElite, serif;
}
.error404 .entry-content > p { 	text-align: center; }

.error404 .entry-content > p:first-child {
	font-size: 6em;
	color: #00a5f7;
	font-family: "ChunkFive", sans-serif;
	margin: 0 0 1em 0;
	padding: 0;
}

#s, #s-no-results {
	margin: 0 0 1em 0;
}
#searchform #s + input[type="submit"] {
	
}

#searchform-404 #s-404 {
	margin: 1em 0;
	font-size: 4em;
	text-align: center;
	padding: .25em .5em;
	line-height: 1;
	border-radius: .25em;
}
#searchform-404 input[type="submit"] {
	padding-top: .25em;
}

/*
 * Widgets
 */

/* .widget_twitterstreamwidget */

.widget_twitterstreamwidget h3 {
	margin-bottom: 0;
}
.widget_twitterstreamwidget div {
	background-color: hsla(200, 100%, 48%, .2);
}

.widget_twitterstreamwidget p {
	color: #ccc;
	border-bottom: 1px solid hsl(200, 100%, 8%);
	padding: 1em;
	margin: 0;
} 
.widget_twitterstreamwidget p .hash-tag>a,
.widget_twitterstreamwidget p .at-reply>a {
	color: hsl(200, 100%, 78%);
}

.widget_twitterstreamwidget .profile-link {
	padding:1em;
	background-color: hsla(200, 0%, 0%, .4);
	text-align: right;
}
.widget_twitterstreamwidget .twitter-date {
	display: block;
	text-align: right;
	font-size: .75em;
}

/***************
* non-mobile
***************/
@media screen and (min-width: 481px) {
	body { padding-bottom: 20px;}
	body::before,
	body::after {
		content: url(img/border.png);
		display: block;
		position: absolute;
		padding: 0;
		margin: 0;
	}
	body::before {
		top:-178px;
		right:0;
		z-index: 1000;
	}
	body::after {
		bottom:0;
		left:0;
		width: 100%;
		overflow: hidden;
		height: 196px;
		z-index: -1;
	}

  nav > ul > li {
  	float: left;
  }
  nav > ul > li:last-child {
  	margin-right:0;
  }
  
  section#articles {
  	float:left;
  	width:60%;
  	padding-right:2%;
  	margin-right:2%;
  }
  
  article {
  	margin-bottom: 2em;
  }
  
  aside {
  float:left;
  width: 36%;
  }
}

@media all and (orientation:portrait) {
/* 	h1 { font-size: 1em; } */

}

@media all and (orientation:landscape) {

}

@media screen and (max-width: 480px) {
  
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
  * {
	  float: none;      
	  background: #fff;  
	  color: #000;
	}
	
	
	body { font-size: 80%; }
	/*
	nav { margin: 1em 0; }
	nav li>a {
		border: 1px solid #00a5f7;
		color:#00a5f7;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-decoration: none;
	}
	nav li>a:hover,
	nav li>a:active { background-color: #00a5f7; color:#fff; }
	*/
	header h1 { font-size: 1.8em; }
	h1 { font-size: 1.3em; }
	
	.gallery,
	.gallery figure { height: auto; }
	.gallery figcaption { 
		position: relative;
		clear: both;
		color: #ccc;
		width: 100%;
	 }
	 
	input.button,
	input[type="submit"] {
		font-size: 2em;
		background-color: #00a5f7;
		background-image: none;
	}
	 
	 .error404 .entry-content > p:first-child {
	 	font-size: 3em;
	 }
	 
	 #searchform-404 #s-404 {
	 	font-size: 2em;
	 }
	
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


